@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Lexend:wght@100..900&family=Protest+Guerrilla&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: linear-gradient(160deg, rgba(4,9,19,1) 0%, rgba(7,63,118,1) 50%, rgba(87,47,168,1) 100%);
  z-index: -1;
}

.bg-slider {
  width: 100%;
  height: auto;
  background: url('./assets/bg.png') no-repeat top center;
  background-size: cover;
}

.font-protest {
  font-family: "Protest Guerrilla", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.font-bai {
  font-family: "Bai Jamjuree", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
}

.bg-main {
  background-color: #0DF1B2;
  background: #0DF1B2;
}

.color-main {
  color: #0DF1B2;
}

.text-shadow {
  text-shadow: 0px 5px 9px rgba(0,0,0,0.3);
}

.bg-card {
  background: radial-gradient(68.76% 173.25% at 57.14% -45.5%, rgba(11, 51, 111, 0.9) 0%, rgba(4, 15, 33, 0.9) 100%)
}

.bg-card-b {
  background: rgb(39,205,245);
  background: linear-gradient(160deg, rgba(39,205,245,1) 0%, rgba(7,239,189,1) 39%, rgba(24,220,219,1) 57%, rgba(87,47,168,1) 100%);
}

.bg-card-c {
  background: rgb(11,51,111);
  background: linear-gradient(160deg, rgba(11,51,111,1) 0%, rgba(4,15,33,0.7259278711484594) 56%, rgba(4,15,33,0.6811099439775911) 70%, rgba(87,47,168,1) 100%);
  border: 1px solid #0DF1B2;
}

.bg-footer {
  background: linear-gradient(135.99deg, #17DDD9 -42.18%, #09ECC1 31.27%, #22BDD1 93.91%, #4B4FB3 150.59%);
}

.scroll-main::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.scroll-main::-webkit-scrollbar-track {
  background-color: #2A3440;
  border-radius: 100px;
}

.scroll-main::-webkit-scrollbar-thumb {
  background-color: #0DF1B2;
  border-radius: 3px;
}